* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

ul {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

img {
    display: inline-block;
}

button {
    border: none;
    cursor: pointer;
}

*:focus {
    outline: 2px dotted #ff7500;
    outline-offset: 3px;
}

.container {
    max-width: 100%;
    width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.btn {
    padding: 12px 24px;
    background-color: #ff7500;
    color: #fff;
    border-radius: 5px;
    transition: opacity 0.4s ease;
}

.btn:hover {
    opacity: 0.8;
}

.site__header {
    padding: 16px 16px;
    border-top: 5px solid #ff7500;
}

.site__header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.site__logo__link {
    margin-right: auto;
    transition: 0.6s ease;
}

.site__logo__link:hover {
    opacity: 0.8;
}

.site__logo__link:active {
    opacity: 0.6;
}

.site__nav {
    margin-right: 32px;
}

.site__nav__list {
    display: flex;
    align-items: center;
    gap: 32px;
}

.site__nav__link {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.17;
    letter-spacing: 1px;
    transition: all 0.4s ease;
}

.site__nav__link:hover {
    color: #ff7500;
}

.site__nav__link:active {
    opacity: 0.6;
}

.site__nav__link__active {
    border-bottom: 3px solid #ff7500;
}


.hero {
    background-color: #252420;
    color: #fff;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-bottom: 147px;
}

.hero__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__info {
    max-width: 387px;
    width: 100%;
}

.hero__line {
    display: inline-block;
    width: 80px;
    height: 3px;
    background-color: #ff7500;
    margin-bottom: 40px;
}

.hero__title {
    margin-top: 0;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 0, 5px;
    list-style: 1.2;
}

.hero__text {
    margin-top: 0;
    margin-bottom: 32px;
}

.hero__img__wrapper img {
    width: 510px;
    height: 510px;
    object-fit: cover;
    border-radius: 8px;
    position: absolute;
    top: 190px;
    right: 180px;

}

.main__info {
    margin-bottom: 245px;
}


.main__info__line {
    display: inline-block;
    width: 80px;
    height: 3px;
    background-color: #ff7500;
    margin-bottom: 24px;
}

.main__info__title {
    width: 100%;
    max-width: 435px;
    margin-top: 0;
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 72px;
    line-height: 1.2;
    letter-spacing: 0.5px;
}

.main__info__list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.main__info__item {
    max-width: 340px;
    width: 100%;
}

.main__info__item:not(:last-child) {
    margin-right: 40px;
}

.main__info__icon {
    width: 100px;
    height: 100px;
    background-color: rgba(255, 117, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 32px;
}

.main__info__item__title {
    font-weight: 700;
    font-family: 24px;
    line-height: 1.2;
    letter-spacing: 0.5px;
    margin-top: 0;
    margin-bottom: 12px;
}

.main__info__item__text {
    margin-top: 0;
    margin-bottom: 0;
}

.promo {
    margin-top: 210px;
}

.promo__container {
    display: flex;
    align-items: center;
    gap: 250px;
    background-color: #252420;
    padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 64px;
    color: #fff;
    border-radius: 12px;
}

.promo__info {
    max-width: 440px;
    width: 100%;
}

.promo__heading {
    margin-top: 0;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.5px;

}

.promo__text {
    margin-top: 0;
    margin-bottom: 12px;
}

.promo__text2 {
    margin-top: 0;
    margin-bottom: 24px;
}

.promo__span {
    color: #ff7500;
    font-weight: 700;
}

.promo__img__wrapper img {
    width: 440px;
    height: 440px;
    border-radius: 12px;
    margin-left: 64px;


}

.site__footer {
    background-color: #F8F8F8;
    padding-top: 56px;
    padding-bottom: 56px;
    margin-top: 160px;
}

.site__footer__top {
    display: flex;
    align-items: center;
    justify-content: center;
}

.site__footer__top__item:not(:last-child) {

    margin-right: 16px;
}

.site__footer__top__list {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.site__footer__top__link {
    color: #252420;
    transition: all 0.4 ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.site__footer__top__link svg:hover {
    color: #ff7500;

}

.site__footer__top__link svg:active {
    opacity: 0.6;

}

.site__footer__line {

    height: 2px;
    background-color: rgba(37, 36, 32, 0.5);
    margin-top: 40px;
    margin-bottom: 64px;

}
.site__footer__bootom{
    display: flex;
    justify-content: space-between;
}
.site__footer__bootom__list{
    padding: 0;
    margin: 0;
}
.site__footer__bootom__item:not(:last-child){
 margin-bottom: 16px;
}
.site__footer__bootom__link{
    text-decoration: none;
    color: #252420;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    transition: all 1s ease;
  
}
.site__footer__bootom__link:hover{
    color: #ff7500;
}
.site__footer__bootom__link:active{
    opacity: 0.6;
}